:root { /* Primary Colors */
    --purple: hsl(259, 100%, 65%);
    --lightRed: hsl(0, 100%, 67%);
        /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --offWhite: hsl(0, 0%, 94%);
    --lightGrey: hsl(0, 0%, 86%);
    --smokeyGrey: hsl(0, 1%, 44%);
    --offBlack: hsl(0, 0%, 8%);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Italic";
    src: url(assets/fonts/Poppins-Italic.ttf);
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins-ExtraBoldItalic";
    src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
}

label{
    color: var(--smokeyGrey);
    position: relative;
}

body {
    position: relative;
    height: 100vh;
    background-color: var(--offWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins-Bold";
}

main {
    position: relative;
    background-color: var(--white);
    width: 500px;
    padding: 2rem;
    border-radius: 1rem 1rem 4rem 1rem;

}

.input-items {
    display: flex;
    flex-direction: row;
    gap:2rem;
}

label input {
    font-size: 32px;
    width: 80%;
    font-family: "Poppins-Bold";
    outline: none;
    border: solid 1px var(--smokeyGrey);
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
    z-index: 900;
}
label input:active, input:hover {
    border: solid 1px var(--purple);
}

.input-items label .none {
    display: none;
}
.input-items label div {
    display: block;
    color: var(--lightRed);

    font-family: "Poppins-Italic";
}

.arrow{
    display: flex;

    width: 100%;
}

.arrow hr {
    flex-grow: 1;
    border: none;
    background-color: #ccc;
    margin: 5rem 0 1.4rem 0;
}

.arrow button {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--purple);
    margin: 1rem;
    padding: 1rem;
}


.result{
    font-family: "Poppins-ExtraBoldItalic";
    font-size: 80px;
}
.result span {
    color: var(--purple);
}